html {
  background-image: url("images/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  
  font-family: Garamond;
}

header {
  margin-top: 5em;
}

div {
  width: 100%;
}

#navbar {
  background-color: #a5dad2;
  color: white;
  opacity: 0.8;
  filter: alpha(opacity=80);
  
  font-size: 2em;
  font-weight: bold;
  text-align: right;
  
  position: fixed;
  z-index: 10;
}

#navbar ul {
  list-style-type: none;
}

#navbar ul il {
  display: inline;
  padding: 0px 5px;
}

#navbar a:hover {
  text-decoration: none;
  color: #bbe3dd;
  background-color: white;
}

#blank {
  width: 100%;
  height: 40em;
  border: 0px solid #000;"
}

#about {
  color: #519191;
  margin-top: 5em;
}

#about h1 {
  text-align: right;
  font-weight: italic;
  font-size: 1.5em;
  margin: 1%;
}

#about p {
  text-align: center;
  font-size: 1.25em;
  margin 10%;
}
