html {
  background-color: #6b9e9f;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #6d918b;
}

li {
  display: inline;
  color: white;
}

div {
  width: 100%;
  margin: auto;
}
