html {
  background-color: white;
  font-family: Garamond;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #6d918b;
}

li {
  display: inline;
  color: white;
}

div {
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}
