html {
  font-family: Garamond;
}

head {
  margin-top: 20%;
}

img {
  height: 50px;
  width 50px;
  padding: 0px 5px;
}

a {
  text-decoration: none;
  color: white;
}

#navbar {
  background-color: #a5dad2;
  color: white;
  opacity: 0.8;
  
  height: 6%;
  width: 100%;
  
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  
  position: fixed;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  display: inline;
  padding: 1% 1% 5px 5px;
}

#navbar a:hover {
  color: #bbe3dd;
  background-color: white;
}

#about {
  color: #519191;
}

#about h1 {
  text-align: right;
  font-weight: italic;
  font-size: 1.5em;
  margin-right: 5%;
}

#about p {
  text-align: center;
  font-size: 1.25em;
  margin: 2% 5%;
}

#platform {
  background-color: #a5dad2;
  color: white;
}

#platform h1 {
  
}

#platform table {
  margin: 0% 1%;
}

#platform table tr td {
  margin: 0% 1%;
}

#footer {
  float: bottom;
}
