html {
  font-family: Garamond;
}

head {
  margin-top: 20%;
}

img {
  padding: 0px 5px;
}

a {
  text-decoration: none;
}

#navbar {
  background-color: #a5dad2;
  color: white;
  opacity: 0.8;
  
  height: 6%;
  width: 100%;
  
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  
  position: fixed;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  display: inline;
  padding: 1% 1% 5px 5px;
}

#navbar a {
  color: white;
}
#navbar a:hover {
  color: #bbe3dd;
  background-color: white;
}

#about {
  color: #519191;
}

#about h1 {
  text-align: right;
  font-weight: italic;
  font-size: 1.5em;
  margin-right: 5%;
}

#about p {
  text-align: center;
  font-size: 1.25em;
  margin: 2% 5%;
}

#platform {
  background-color: #a5dad2;
  color: white;
  text-align: center;
  margin: 0% 5%;
}

#platform h2 {
  font-size: 3em;
}

#platform p {
  font-size: 2em;
}

#platform img {
  height: 30em;
  width: 30em;
}

#vote, #meeting {
  color: #bbe3dd;
  text-align: center;
}

#vote, #meeting h2 {
  font-weight: italic;
  font-size: 3em;
}

#vote, #meeting p {
  font-size: 2em;
}

#vote a {
  color: #bbe3dd;
}

#contact {
  background-color: #bbe3dd;
}

#footer {
  float: bottom;
}

#footer img {
  width: 50px;
  height: 50px;
}
